*{
    margin: 0;
    padding:0px;
    box-sizing: border-box; 
}

body{
    background-color: black;
    color: white;
    padding-top: 4rem;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

html{
    font-size:20px;
}

ul{
    list-style-type:none;
}

a{
    text-decoration: none;
}

p{
    text-align: justify;
    margin-left:.7rem;
    margin-right:.7rem;
}